#top .kabinet p a {display: inline-block;}
#block-magazine h4{font-size: 23px; margin-bottom: 10px;}
#block-magazine span{line-height: 32px;}
#block-magazine ul {list-style: none; line-height: 25px; color: #1972b5;}
#block-magazine ul li.umno {color: #474747; text-decoration: none;}
#foto {margin-top: -1570px;}
footer{margin-top: 1000px;}