#top .kabinet p a {display: inline-block;}
#foto .layer-11 { margin-bottom: 430px;}
#foto {margin-top: -1970px;}
#block-magazine .block-all p {font-family: RobotoBold;	font-size: 26px; color: #474747; font-weight: bold;}
#block-magazine .stanki-muravey p {margin-bottom: 6px;	color: #ababab; font-family: RobotoRegular; font-size: 12px;}
#block-magazine .stanki-muravey span{display: block;color: #474747; font-size: 24px; font-family: RobotoMedium; font-weight: bold;}
#block-magazine .stanki-muravey a {color: #787878; font-size: 22px; font-family: RobotoRegular;}
#block-magazine .stanki-muravey img {margin-bottom: 16px; width: 74%;}
.layer-12 {margin-top: -400px;}
.layer-11 img {height: 100%;}
footer{margin-top: 1420px;}